<canvas #canvas></canvas>

<div *ngIf="gameState" class="leaderboard-container">
    <table class="leaderboard-table">
        <thead>
            <tr>
                <th>Posición</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Área Ganada</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngIf="gameState.players && gameState.players.length > 0; else noPlayers">
                <ng-container *ngFor="let player of orderByGainedAreaDesc(gameState.players); let i = index">
                    <tr *ngIf="player.isAlive">
                        <td>{{ i + 1 }}</td>
                        <td>{{ player.playerName }}</td>
                        <td [style.color]="getColor(player.playerId)">{{ player.color }}</td>
                        <td>{{ player.gainedArea }}</td>
                    </tr>
                </ng-container>
            </ng-container>
            <ng-template #noPlayers>
                <tr>
                    <td colspan="4" class="leaderboard-no-players">No hay jugadores</td>
                </tr>
            </ng-template>
        </tbody>
    </table>
</div>

