<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EciPixels</title>
    <link rel="stylesheet" type="text/css" href="start-game.component.css">
</head>
<body>
    <div class="background-container">
        <div class="container">
            <div class="form-container">
                <form id="p" class="a">
                    <h2 class="title">EciPixels</h2>
                    <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Name">                    <br>
                    <button type="submit" (click)="addNewPlayer()">Iniciar</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>